body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#menu {
    position: relative;
    z-index: 1;
    margin: 2%;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

h1 {
    font-size: 10em;
    margin: 0;
}

#main .wrapper {
    /*position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    */height: 100%;
    margin: auto;
    text-align: center;
}

#controls {
    position: relative;
    z-index: 1;
    margin: 2%;
    width: 12em;
}

.form-control {
    margin-bottom: 1em;
}

.page-1 {
    background: #f2f2f2;
}

.page-2 {
    background: #dfdfdf;
}

.page-3 {
    background: #d0d0d0;
}