<!DOCTYPE html>
<html class="no-js" lang="pt-BR" ng-app="ExampleApp" ng-controller="MainCtrl as ctrl">

	<head>

		<base href="/"></base>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="google" content="notranslate" />

		<title>App</title>

		<link rel="stylesheet" type="text/css" href="bower_components/Bootflat/css/site.min.css">
		<link rel="stylesheet" type="text/css" href="application/styles.css">
		<link rel="stylesheet" type="text/css" href="css/anim-in-out.css">

	</head>

	<body class="{{ctrl.currentPage}}">

		<nav id="menu">
			<a href="#/"><button class="btn btn-primary" ui-sref-active="active">Page 1</button></a>
			<a href="#/page2"><button class="btn btn-primary" ui-sref-active="active">Page 2</button></a>
			<a href="#/page3"><button class="btn btn-primary" ui-sref-active="active">Page 3</button></a>
		</nav>

		<div id="main" ui-view="main" autoscroll="false" class="anim-in-out {{ctrl.mainViewStyle}}" data-anim-sync="true" data-anim-speed="500"></div>

		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="anim-in-out.js"></script>
		<script type="text/javascript" src="application/app.js"></script>
		<script type="text/javascript" src="application/templates.js"></script>

	</body>

</html>